*{
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    


}
body{
    font-size: 1.6rem;
    background-color: #F1F4FD;
  
        font-family: 'Hanalei Fill', cursive;
      
         
}
ul{
    margin: 5%;
    padding-left: 2%;
}
li{
    list-style: none;
   
}
a{
    text-decoration: none;
    color: #F1F4FD;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    background-color:#112240;
  
}
.nav__brand{
font-weight: bolder;
}
.nav__menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
  
}

.nav__toggler{
    width: 3.5rem;
    height: 0.2rem;
    margin: 0.8;
    background: darkgray;
    cursor: pointer;
    display: none; 
}
@media screen and (max-width: 768){
  .nav__toggler{
      display: block;
      display:contents
  } 
  .nav__menu{
      position: fixed;
      top: 7vh;
      right: 0%;
      width: 50%;
      height: 93vh;
      flex-direction: column;
      background-color: aliceblue;
  } 
}
    

